<h1>Account</h1>

<div class="uniform-control">
  <% flash[:notice]&.tap do |notice| %>
      <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Is Admin:</strong>
    <%= @user.admin ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Is Superuser:</strong>
    <%= @user.superuser ? 'Yes' : 'No' %>
  </p>

  <div class="btn-group col-12">
  <% unless @user.admin && !@current_user.superuser && !(@user.id == @current_user.id) %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'%>
  <% end %>
  <%= render 'back', current_user: @current_user %>
  </div>
</p>